In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('hospital.csv')
df.head(10)

,Disease,City,Hospital,Treatment
0,Glaucoma,delhi,Dr. Rohit Pahwa's InstaVision Eye & Lasik Centre,eyedrops
1,Glaucoma,delhi,Avlokan Eye Centre,laser treatment
2,Glaucoma,delhi,Delhi Eye Centre,surgery
3,Glaucoma,mumbai,Global Eye Clinic,eyedrops
4,Glaucoma,mumbai,Eye Solutions Clinic,laser treatment
5,Glaucoma,mumbai,Palaks Glaucoma Care Centre,surgery
6,Glaucoma,kolkata,Dr. Prashant Srivastava,eyedrops
7,Glaucoma,kolkata,Dr Kumar Ravi,laser treatment
8,Glaucoma,kolkata,Dr Sagar Bhargava,surgery
9,Malaria,delhi,Aruna Asaf Ali Govt Hospital,Combination of atovaquone and proguanil

In [10]:
a = df.loc[(df['Disease']=='Breast Cancer') & (df['City']=='mumbai')]['Hospital']

In [11]:
a

21    Dr. Dale Rodrigues Cancer Center
22                   Somaiya Ayurvihar
23                 Sun Cancer Hospital
Name: Hospital, dtype: object

In [12]:
b = df.loc[(df['Disease']=='Breast Cancer') & (df['City']=='delhi')]['Treatment']

In [13]:
b

18         Chemotherapy
19     Hormonal therapy
20    Radiation therapy
Name: Treatment, dtype: object